services:
  latex:
    image: texlive-latex:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: latex-compiler
    volumes:
      - .:/latex
      - miktex-data:/var/lib/miktex
    environment:
      - MIKTEX_UID=1000
      - MIKTEX_GID=1000
    working_dir: /latex
    tty: true
    command:
      - bash
      - -lc
      - 'bash ./tools/build.sh'

volumes:
  miktex-data:
    driver: local
